*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 700px;
    background-image: url("img/section-bg1.jpg");
    background-size: cover;
    text-align: center;
}

header img{
    display: block;
    padding-top: 200px;
    margin: 0 auto;
}

h1{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.5em;

}

p{
    color: rgb(196, 189, 189);
    font-size: 12px;
}

header p{
    text-align: center;  
    text-transform: uppercase;
    margin-bottom: 20px;
}

header a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 22px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgb(124,197,118);
    border-radius: 5px;
}

header a:hover{
    text-shadow: 2px -2px black;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

nav{
    border-bottom: 2px solid rgb(71, 180, 89);
}

nav ul{
    list-style-type: none;
    width: 100%;
    overflow: auto;
}

nav ul li{
    width: 14.28%;
    float: left;
}

nav ul li a{
    display: block;
    text-align: center;
    font-size: 16px;
    height: 81px;
    line-height: 5.0em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: rgb(247, 245, 245);
}

nav ul li a img{
    padding: 10px 0px;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    margin: 60px 0px 20px;
    text-align: center;
}

main > p{
    text-align: center;
}

main article{
    overflow: auto;
    width: 100%;
    margin: 50px 0px 150px;
}

main article figure {
    width: 40%;
    float: left;
}

main article img{
    display: block;
    float: left;
    width: 60%;
}

main article figure .iconText{
    overflow: auto;
    width: 80%;
    margin-bottom: 40px;
    
}

#icon{
    color: green;
    font-size: 30px;
    float: left;
}

.iconText h3{
    margin-left: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.iconText p{
    margin-left: 50px;
}

main aside{
    width: 100%;
    overflow: auto;
    margin-top: 35px;
    margin-bottom: 100px;
}

main aside iframe{
    width: 30%;
    float: left;
    margin-right: 5%;
}

main aside iframe:last-child{
    margin-right: 0%;
}

main section{
    width: 100%;
    overflow: auto;
    background-image: url("img/bg-map.png");
    background-position-x: left;
    background-position-y: 50px;
    background-repeat: no-repeat;
    height: 400px
}

main section iframe{
    width:50%;
    float: right;
}

main section figure{
    float: left;
    width: 100px;
    margin-left: 50px;
}

main section h4{
    width: 100px;
    display: block;
    padding-bottom: 60px;
}

main section a{
    display: inline-block;
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.9em;
    transition: font-size 1s linear, opacity 1s linear, width 1s linear, height 1s linear;
}

main section a:hover{
    font-size: 30px;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    line-height: 1.6em;
}

footer{
    background-color: black;
}

footer img{
    display: block;
    margin: 0 auto;
    padding: 25px 0px;
}

footer p{
    text-align: center;
    padding-bottom: 25px;
}

@media(max-width: 600px){

    .wrapper{
        width: 100%;
    }

    nav{
        display: none;
    }

    main article figure{
        width: 100%;
        padding-left: 10px;
    }

    main article figure .iconText{
        width: 100%;
        margin-bottom: 20px;
    }

    main article img{
        width: 100%;
    }

    main aside iframe{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 40px;
    }

    main section figure h4{
        display: none;
    }

    main section iframe{
        width: 100%;
        padding: 20px 20px 40px;
    }

    main section{
        height: auto;
    }
}

